.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.nav-header {
  width: 100%;
  min-height: 8vh;
}
.app-main {
  background: #ECF0F1;
  height: 100%;
  min-height: 92vh;
  margin-top: 0;
}

@media only screen and (min-width: 900px) {
  .App {
    display: flex;
    flex-direction: row;
  }
  .nav-header { 
    margin: 0;
    height: 100%;
  }
  .app-main {
    width: 82%;
    margin-left: 22%;
    height: 100%;
    min-height: 100vh;
  }
}
