table {
  width: 100%;
  font-family: 'Barlow Condensed';
  font-weight: 400;
  letter-spacing: .05em;
  border-collapse: collapse;
}

th {
  background: #3e576e;
  color: #fafbfb;
  letter-spacing: .06em;
}

th, td {
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  border: 0;
}

tr {
  width: 100%;
}

th {
  text-align: left;
}

.exercise-row:nth-child(even) {
  background-color: #dddddd;
}

.exercise-row:nth-child(odd) {
  background-color:white;
}

