.group {
  margin: 2% 0;
  width: 100%
}

.group > label {
  display: none;
}

.login-form {
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
}

.group > input {
  width: 100%;
  margin: 0;
  padding: 1%;
  border-radius: 3px;
  border: .5px solid grey;
  font-size: 20px;
  font-family: 'Barlow Condensed';
  box-sizing: border-box;
  letter-spacing: .03em;
}

.login-form > input[type=submit] {
  width: 100%;
  border-radius: 3px;
  border: .5px solid grey;
  padding: 2%;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: .05em;
  font-family: 'Barlow Condensed';
  background: #364c61;
  color: #fafbfb;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #263544;
  cursor: pointer;
}

input[type=submit]:active {
  transform: translateY(4px);
}

.form-error {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: #a62214 2px solid;
  border-radius: 4px;
  background-color: #f1968c6b;
  width: 70%;
  color: #8f1d10;
  margin-bottom: 3%;
}

.fa-exclamation-circle {
  color: #a7372a;
  font-size: 24px;
  margin: 4% 5%;
}

.error-message {
  margin-right: 5%
}