.exercise-list {
  padding-top: 3%;
}
.functions-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 4%;
  width: 92%;
  box-sizing: border-box;
}
.functions-section > a {
  width: 50%;
}
.exercises-filter {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.exercise-list-wrapper {
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
}

.add-exercise-button {
  width: 100%;
  max-width: 250px;
  font-family: 'Bebas Neue';
  font-size: 16px;
  letter-spacing: .08em;
  margin: 0 5%;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background: #364c61;
  color: #fafbfb;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
  border: 0;
  transition: .2s;
}

.add-exercise-button:hover {
  cursor: pointer;
  background-color: #263544;
}

.add-exercise-button:active {
  transform: translateY(4px);
}


.exercises-tr-left {
  border-top-left-radius: 5px;
}
.exercises-tr-right {
  border-top-right-radius: 5px;
}

#filter {
  color: #364c61;
  margin-left: 3%;
}

.exercises-filter > select {
  font-size: 16px;
  font-family: 'Barlow Condensed';
  padding: 1%;
}

#add-exercise-icon {
  margin-right: 2%;

}