.WorkoutsList {
  padding-top: 5%;
}

details {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
}

details > summary {
  border-bottom: 0;
  padding: 20px;
  font-family: 'Bebas Neue';
  font-size: 24px;
  color: #fafbfb;
  background: rgba(207, 63, 47, 0.918);
  border-radius: 5px;
  letter-spacing: .05em;
}
details > summary:hover {
  cursor: pointer;
}

details[open] > summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.add-workout-button {
  font-family: 'Bebas Neue';
  font-size: 24px;
  letter-spacing: .1em;
  margin: 0 5%;
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  background: #364c61;
  color: #fafbfb;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
  border: 0;
  transition: .2s;
}

.add-workout-button:hover {
  cursor: pointer;
  background-color: #263544;
}

.add-workout-button:active {
  transform: translateY(4px);
}